﻿@model IEnumerable<WebApplication.Models.Relatorios>

@{
    ViewBag.Title = "Relatorios";
    
}

<!-- Cabeçalho-->

<head>
    <link href="~/Content/Relatorio.css" rel="stylesheet" />
</head>

<!-- Div principal-->
<div class="principal">
    <!-- Div lateral esquerda-->
    <div class="lateral-esquerda">
        <!-- Div esquerda central-->
        <div class="esquerda-central">

        </div>

    </div>

    <!-- Div lateral direita-->
    <div class="lateral-direita">
        <!-- Div direita central-->
        <div class="direita-central">
            <form class="formulario embed-responsive-item" action="~/Relatorios/Consultar" method="POST">
                <!-- Titulo -->
                <span class="titulo-center embed-responsive-item">
                  Relatorios
                </span> <!-- fecha titulo-->
           
                <div class="campo-data" style="padding-left: 50px">
                    <input id="data" type="date" class="form-control"/>
                </div><!-- fecha campo-->

                <div class="campo-data" style="padding-left: 50px">
                    <input id="data" type="date" class="form-control" />
                </div><!-- fecha campo-->

                <div class="campo-hora" style="padding-left: 50px">
                    <input  type="time" name="usr_time" class="form-control" />
                </div><!-- fecha campo-->

            </form>
        </div>

    </div>

</div>

