﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/LayoutMenu.css" rel="stylesheet" />
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


</head>
<body>
    <header>
            <div class="superior-cima">

            </div>
            <div class="superior-baixo">
                <ul class="menu">
                    <li><a href="~/Home/Principal/">Dashboards</a></li>
                    <li><a href="~/Relatorio/Relatorios/">Relatórios</a></li>
                    <li><a href="~/Anotacoes/Anotacoes/">Anotações</a></li>
                    <li><a href="~/Cadastro/Cadastro/">Cadastro de Funcionários</a></li>
                    <li style="float:right"><a href="~/Usuario/Sair">Sair</a></li>
                    <li style="float:right"><a href="~/Manual/Manual/">Manual</a></li>
                    <li style="float:right"><a href="~/Sobre/Sobre/">Sobre</a></li>
                    
                  
                </ul>
            </div>

    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>
</body>
</html>