﻿@model WebApplication.RouteConfig

@{
    ViewBag.Title = "Principal";
}
<div id="Dashboard"  type="setTimeout(myFunction, 1000)" action="~/Dahsboard/Mostrar"></div>

<script type="text/javascript">


    window.onload = setInterval(function myFunction() {

        var limit = 200; //Limite de pontos
        var y = 0; //Inicia o ponto no 0
        var data = [];
        var dataSeries = { type: "line",};
        var dataPoints = [];
        for (var i = 0; i < limit; i += 1) {
            y = Math.round(Math.random() * 9); // Randomico que gera pontos no eixo y até 10
            dataPoints.push({
                x: i, //Aumenta 1
                y: y
            });
        }
        dataSeries.dataPoints = dataPoints;
        data.push(dataSeries);
        var options = {
            distribution: 'linear',
            unit: 'millisecond',
            stacked: true,
            zoomEnabled: true,
            animationEnabled: true,
            scale: {
                angleLines: {
                    display: false
                },
                ticks: {
                    suggestedMin: 50,
                    suggestedMax: 100
                }
            },
            title: {
                text: "Monitorando minha paciência"
            },
            axisY: {
                includeZero: false,
                lineThickness: 1, //Linhas
                intervalo: 1000

            },
          
            data: data,
            // random data

        };

        var chart = new CanvasJS.Chart("Dashboard", options);
        var startTime = new Date();
        chart.render();

    }
    , 3000);


</script>
