﻿@model WebApplication.RouteConfig

@{
    ViewBag.Title = "Anotacoes";
}

<head>
    <link href="~/Content/Anotacoes.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
</head>
<!-- Div principal-->
<div class="principal">
    <!-- Div lateral-esquerda-->
    <div class="esquerda">
        <table id="tabela">
            <thead>
                <tr>
                    <th>Anotação</th>
             
                </tr>
                <tr>
                    <th><input type="text" id="txtColuna1" /></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001.01-A</td>
                </tr>
                <tr>
                    <td>001.02-B</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Div lateral direita-->
    <div class="direita">
        <!-- Div titulo-->
        <div class="direita-superior">

        </div>

        <div class="direita-meio">
            <div class="meio-superior">

            </div>

            <div class="meio-central" >

                <form class="formulario embed-responsive-item" action="~/Anotacoes/Inserir" method="post">

                    <!-- Campo Titulo -->
                    <div class="campo-titulo" style="padding-left: 50px">
                        <input id="titulo" type="text" class="form-control" name="titulo" placeholder="TITULO" />
                    </div><!-- fecha campo-->

                    <!-- Campo descrição -->
                    <div class="campo-descricao" style="padding-left: 50px">
                        <input id="descricao" type="text" class="form-control" name="descricao" placeholder="DESCRICAO" />
                    </div><!-- fecha campo-->
                    <div class="data">
                        <script language=javascript type="text/javascript">
                            // Obtém a data/hora atual
                            var data = new Date();

                            // Guarda cada pedaço em uma variável
                            var dia = data.getDate();           // 1-31
                            var dia_sem = data.getDay();            // 0-6 (zero=domingo)
                            var mes = data.getMonth();          // 0-11 (zero=janeiro)
                            var ano2 = data.getYear();           // 2 dígitos
                            var ano4 = data.getFullYear();       // 4 dígitos

                            // Formata a data e a hora (note o mês + 1)
                            var str_data = dia + '/' + (mes + 1) + '/' + ano4;

                            // Mostra o resultado
                       
                            document.write("Hoje é " + str_data);

                        </script>
                    </div>
                    <div class="hora">
                        <p>Hora: <span id="hora"></span></p>
                    </div>
                    		
                    <br />
                    <br />
                    <!-- Botão de efetuação do login-->
                    <div class="botao-entrar">
                        <button class="btn btn-primary btn-lg form-control" type="submit">
                            Submeter
                        </button>
                    </div> <!-- fecha div-->
             
                </form>
  
            </div>

        </div>
    </div>


</div>

