﻿@model WebApplication.Models.Usuario

<!-- Conexão com o método do banco de dados-->

@{
    Layout = null;
    ViewBag.Title = "Usuario";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/LayoutLogin.css" rel="stylesheet" />
</head>
<body>
    <div class="login-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 login-sec">
                    <h2 class="text-center">Acesso</h2>
                    <form class="login-form" action="~/Usuario/Login" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="text-uppercase">CPF</label>
                            <input id="cpf "type="text" class="form-control" name="cpf" placeholder="" maxlength="11">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="text-uppercase">SENHA</label>
                            <input id="senha" type="password" class="form-control" name="senha" placeholder="" maxlength="18">
                        </div>


                        <div class="form-check">
                            <button type="submit" class="btn btn-login float-right">Submit</button>
                        </div>

                    </form>
                    <div class="copy-text">Criado por: 4 INF B <i class="fa fa-heart"></i> by Grafreez</div>
                </div>
                <div class="col-md-8 banner-sec">
                </div>
            </div>
        </div>
    </div>
</body>

</html>