﻿@model WebApplication.RouteConfig

@{
    ViewBag.Title = "Cadastro";
}

<head>
    <link href="~/Content/Cadastro.css" rel="stylesheet" />
</head>

<div class="principal">
    <form action="~/Cadastro/Cadastrar" method="post">
        <fieldset>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" class="form-control" name="nome" placeholder="Nome" maxlength="225" />
                </div>
                <div class="campo">
                    <label for="cpf">CPF</label>
                    <input id="cpf" type="text" class="form-control" name="cpf" placeholder="CPF" maxlength="11" />
                </div>
            </fieldset>
            <div class="campo">
                <select class="custom-select" id="inputGroupSelect01" name="tipoUsuario">
                    <option selected>Escolher...</option>
                    <option id="funcionario" class="conjunto2" label="Funcionário" value="1"> Funcionário</option>
                    <option id="administrador" class="conjunto2" label="Administrador" value="0"> Administrador</option>
                </select>
            </div>
            <div class="campo">
                <label for="password">Senha</label>
                <input id="senha" type="password" class="form-control" name="senha" placeholder="SENHA" maxlength="18" />
            </div>

            <button type="submit" name="submit">Cadastrar</button>
        </fieldset>
    </form>
</div>


