﻿/* DIVS PRINCIPAIS */

.principal{
    width:100%;
    height:950px;
    background-color:aquamarine;
}
/*tabela de anotações*/
.tabela{
    width:15%;
    height:100%;
    background-color:azure;
    float:left;
}
.esquerda{
    width:15%;
    height:100%;
    background-color:mediumpurple;
    float:left;
}

.direita{
    width:85%;
    height:100%;
    background-color:green;
    float:left;
}

.direita-superior{
    width:100%;
    height:8%;
    background-color:royalblue;
}
.direita-meio{
    width:100%;
    height:92%;
    background-color:yellow;
}

.meio-superior{
    width:100%;
    height:4%;
    background-color:aqua;
}

.meio-central{
    width:95%;
    height:90%;
    margin-top:28px;
    margin-left:45px;
    background-color:#72ABBF;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px  #808080;
    border-radius:20px;
}

/* DETALHES */