﻿body {
    margin:0;
    padding:0;
}


/*//////////////////////////////////////////////////////
    [MENU]
*/
.principal{
    width:100%;
    height:80px;
}

.superior-cima{
    width:100%;
    height:40px;
    background-color:#04618C;
}

.superior-baixo{
    width:100%;
    height:40px;
    background-color:#98C4CF;
}

.menu{   
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #333;
     font-family: Poppins-Regular, sans-serif;
     text-align:center;
     height:40px;

}

li,a{
    display: block;
    color: white;
    text-align: center;
    padding: 3px 14px;
    text-decoration: none;
}
/* EFEITO */
li :hover {
  background-color: #111;
}
li {
  display: inline;
  padding-top: 10px;
  float: left;
}
.active {
  background-color: #4CAF50;
}