﻿body {
    margin:0;
}
.login-block{
    background: #20b2aa; 
    background: -webkit-linear-gradient(to bottom, #20b2aa, #0e508b); 
    background: linear-gradient(to bottom, #20b2aa, #0e508b); 
    float:left;
    width:100%;
    padding : 250px 0;
    height:969px;
}
.banner-sec{
    background:url(https://images.pexels.com/photos/577210/pexels-photo-577210.jpeg?cs=srgb&dl=data-graphs-laptop-577210.jpg&fm=jpg) ;
    no-repeat: left bottom; 
    background-size:cover;
    min-height:500px; 
    border-radius: 0 10px 10px 0;
    padding:0;

}
.container{
    background:#fff; 
    border-radius: 10px;
    box-shadow:15px 20px 0px rgba(0,0,0,0.1);

}
.login-sec{
    padding: 50px 30px; 
    position:relative;

}
.login-sec .copy-text{
    position:absolute;
    width:80%; 
    bottom:20px; 
    font-size:13px; 
    text-align:center;

}
.login-sec .copy-text i{
    color:#20b2aa;

}
.login-sec .copy-text a{
    color:#E36262;

}
.login-sec h2{
    margin-bottom:30px;
    font-weight:800; 
    font-size:30px; 
    color: #0e508b;

}
.login-sec h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#20b2aa; 
    display:block; 
    margin-top:20px; 
    border-radius:3px; 
    margin-left:auto;
    margin-right:auto

}
.btn-login{
    background: #0e508b; 
    color:#fff; 
    font-weight:600;

}
.banner-text{
    width:70%; 
    position:absolute;
    bottom:40px;
    padding-left:20px;

}
.banner-text h2{
    color:#fff; 
    font-weight:600;

}
.banner-text h2:after{
    content:" "; 
    width:100px; 
    height:5px; 
    background:#FFF; 
    display:block; 
    margin-top:20px; 
    border-radius:3px;

}
.banner-text p{
    color:#fff;

}