﻿body {
}

/* DIVS PRINCIPAIS */

.principal{
    width:100%;
    height:950px;
    background-color:aquamarine;
}

.lateral-esquerda{
    width:50%;
    height:100%;
    background-color:mediumpurple;
    float:left;
}

.lateral-direita{
    width:50%;
    height:100%;
    background-color:green;
    float:left;
}

.esquerda-central{
    width:70%;
    height:90%;
    margin-top:50px;
    margin-left:140px;
    background-color:#72ABBF;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px  #808080;
    border-radius:20px;
}

.direita-central{
    width:70%;
    height:90%;
    margin-top:50px;
    margin-left:180px;
    background-color:yellow;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px  #808080;
    border-radius:20px;
}