﻿body {
}
/*MAIN*/
.principal{
    width:100%;
    height:950px;
    background-color:aquamarine;
}

.esquerda{
    width:50%;
    height:100%;
    background-color:aliceblue;
    float:left;
}

.direita{
    width:50%;
    height:100%;
    background-color:maroon;
    float:left;
}
