﻿@model WebApplication.RouteConfig

@{
    ViewBag.Title = "Sobre";
}

<head>
    <link href="~/Content/Sobre.css" rel="stylesheet" />
</head>

<div class="principal">

    <div class="esquerda">

    </div>

    <div class="direita">

    </div>

</div>

